alembic==1.7.3
asgiref==3.4.1
asyncpg==0.24.0
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
fastapi==0.68.1
greenlet==1.1.2; python_version >= '3' and (platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32'))))))
h11==0.12.0
mako==1.1.5
markupsafe==2.0.1
pydantic==1.8.2
pygments==2.10.0
rich==10.11.0
sqlalchemy==1.4.25
starlette==0.14.2
typing-extensions==3.10.0.2
uvicorn==0.15.0
psycopg2==2.9.1
